@import '../../../../global.scss';

// $tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
// $mobile: 767.98px; // Телефоны L
// $mobileSmall: 479.98px; // Телефоны S

.body {
    margin: 0 auto;
}

.levels_wrapper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 15px 25px;

    @media (max-width: 1095px) {
        width: 510px;
        margin: 0 auto;
    }

    @media (max-width: $mobile) {
        width: 360px;
        margin: 0 auto;
    }
}

.level__button {
    height: 70px;
    width: 160px;
    background-color: $almostWhite;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    color: $gray;
    transition: all 0.5s ease-out;
    
    .button__left_part {
        width: 70%;
        text-align: left;
        vertical-align: middle;
        padding: 10px;
        
        h2 {
            font-size: 1.3rem;
            line-height: 35px;
        }
        p {
            font-size: 0.8rem;
            font-style: italic;
        }
    }

    .button__right_part {
        height: 100%;
        width: 30%;
        text-align: center;
        vertical-align: middle;
        line-height: 70px;
        z-index: 2;

        h2 {
            font-size: 1.8rem;
            font-style: bold;
            z-index: 2;
        }
    }

    .circle {
        border-radius: 53px;
        height: 110px;
        width: 110px;
        position: absolute;
        top: -1rem;
        right: -3rem;
        overflow: hidden;
        background-color: $lightGray;
    }
}

    .level__button.active,
    .level__button:hover {
        color: $darkGray;
    
        &:nth-of-type(1) {
            .circle {
                background-color: $color_A1;
            }
        }
        &:nth-of-type(2) {
            .circle {
                background-color: $color_A2;
            }
        }
        &:nth-of-type(3) {
            .circle {
                background-color: $color_B1;
            }
        }
        &:nth-of-type(4) {
            .circle {
                background-color: $color_B2;
            }
        }
        &:nth-of-type(5) {
            .circle {
                background-color: $color_C1;
            }
        }
        &:nth-of-type(6) {
            .circle {
                background-color: $color_C2;
            }
        }
    }


.word_categories_container {
    display: none;
    gap: 15px;
    margin: 15px 25px;    
}

.word_categories_container.active {
    display: flex;
    gap: 15px;
    margin: 15px 25px;
}

.word_category_button {
    height: 70px;
    width: 200px;
    background-color: $almostWhite;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    color: $gray;
    transition: all 0.5s ease-out;    
    padding: 10px 0 10px 4.5rem;

    h2 {
        font-size: 1.3rem;
        line-height: 35px;
    }
    p {
        font-size: 0.8rem;
        font-style: italic;
    }
}

.circle_category {
    border-radius: 53px;
    height: 110px;
    width: 110px;
    position: absolute;
    top: -1rem;
    left: -3rem;
    overflow: hidden;
    background-color: $lightGray;
}

.word_category_button.active,
.word_category_button:hover {
    color: $darkGray;

    &:nth-of-type(1) {
        .circle_category {
            background-color: $color_progress;
        }
    }
    &:nth-of-type(2) {
        .circle_category {
            background-color: $color_difficult;
        }
    }
    &:nth-of-type(3) {
        .circle_category {
            background-color: $color_deleted;
        }
    }
    &:nth-of-type(4) {
        .circle_category {
            background-color: $color_learnt;
        }
    }
}
