@import '../../../../global.scss';
@import '../../main/scss/style.scss';
@import 'levels.scss';
@import 'wordCards.scss';
@import 'wordData.scss';
@import 'pagination.scss';

.wrapper {
    width: fit-content;
    margin: 0 auto;
    padding: 0 5px;
}

.header {
    padding: 15px 50px;
    box-sizing: border-box;
    background: center / cover no-repeat url('../../../../assets/img/background.jpg');
}

.levels_section {
    padding: 0 30px;
}

.textbook_title {
text-align: left;
font-weight: 700;
font-size: 40px;
opacity: 0.5;
}

.textbook_title.active {
    opacity: 1;
}

.heading_section {
    margin: 15px 25px;
    display: flex;
    gap: 10px;
}

.heading_section button:first-child::after {
    width: 2px;
    content: '  |  ';
line-height: 1rem;
opacity: 0.6;
}

.textbook_text {
    margin: 0 25px;
}

#vocabulary.hidden {
    display: none;
}

.word_categories_container {
    display: flex;
}

.word_categories_container.hidden {
    display: none;
}