@import '../../../../global.scss';

.word__detail {
    min-width: 320px;
    width: 400px;
    background-color: $almostWhite;
    border-radius: 0.5rem;
    padding: 0 10px;
}

.word__img {
    background-position: center;
    background-repeat: no-repeat;
    height: 230px;
    margin: 0 8px;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.3);
    position: relative;
    top: -15px;
}

.word__word {
    font-size: 1.8rem;
    margin: 5px 0;
}
.word__translation {
    font-size: 1.3rem;
    margin: 5px 0;
}

.word__transcription {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 5px 0;
}

.audio {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid #000;
    cursor: pointer;
    color: #000;
}

.audio:hover, 
.audio:focus {
  animation: pulse 0.5s;
  box-shadow: 0 0 0 1em rgba(#fff, 0);
}

.word__actions {
    display: flex;
    gap: 5px;
    margin: 5px 0;
}

.word__actions.hidden {
    display: none;
}

.word__actions_btn {
    height: 30px;
    width: 160px;
    background-color: $lightGray;
    border-radius: 30px;
}

.word__actions_btn:hover {
    background-color: $lightGray;
}

.word__description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.word__subheading {
    font-size: 1.2rem;
    font-weight: 600;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 $darkGray; }
}