.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 50px;
    height: 50px;
    background-image: url('../../../../assets/icons/clock-time.svg');
}

.clock-counter {
    font-size: 24px;
}
.points-container,
.multiply-container,
.result-container {
    display: flex;
    gap: 10px;
}

.multiply-container {
    border: 3px rgb(237, 186, 35) solid;
    border-radius: 30px;
    padding: 0 10px;
}

.result-container {
    border: 3px rgb(30, 184, 19) solid;
    border-radius: 30px;
    padding: 0 10px;
}

.tick {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 30px;
    background-image: url('../../../../assets/icons/tick-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;

    .answers-queue {
        font-size: 18px;
        position: absolute;
        right: -15px;
        top: -10px;
    }
}

.answer-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    .word {
        color: rgb(42, 157, 48);
        font-size: 32px;
    }

    .delimiter {
        font-size: 20px;
    }
}

.answer-button {
    font-size: 20px;
    padding: 20px;
    width: 100px;
    background: transparent;
    &:hover {
        transition: 0.5s;
        background-color: yellow;
        cursor: pointer;
    }
}

.yes-button {
    color: green;
    border: 2px green solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 0;
    background-image: url('../../../../assets/icons/arrow-left.svg');
    background-size: 20px;
    background-position: 40px 40px;
    background-repeat: no-repeat;
}

.no-button {
    color: red;
    border: 2px red solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url('../../../../assets/icons/arrow-right.svg');
    background-size: 20px;
    background-position: 40px 40px;
    background-repeat: no-repeat;
}
