@import "../../../../global";

.sprint-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.clock {
    width: 50px;
    height: 50px;
    background-image: url('../../../../assets/icons/clock-time.svg');
}

.clock-counter {
    font-size: 24px;
}
.points-container,
.multiply-container,
.result-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;

    @media (max-width: $mobile) {
        font-size: 19px;
    }
}

.points-container {
    @media (max-width: $mobileSmall) {
        flex-direction: column;
    }
}

.multiply-container {
    border: 3px rgb(240, 237, 226) solid;
    border-radius: 30px;
    padding: 20px;

    @media (max-width: $mobile) {
        padding: 15px;
    }
}

.result-container {
    border: 3px #f0ede2 solid;
    border-radius: 30px;
    padding: 20px;

    @media (max-width: $mobile) {
        padding: 15px;
    }
}

.tick {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 30px;
    background-image: url('../../../../assets/icons/tick-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;

    .answers-queue {
        font-size: 22px;
        position: absolute;
        right: -15px;
        top: -10px;
    }
}

.answer-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    text-align: center;

    .word {
        color: #424551;
        font-size: 52px;

        @media (max-width: $mobile) {
            font-size: 36px;
        }
    }

    .delimiter {
        font-size: 20px;
    }

    @media (max-width: $mobileSmall) {
        flex-direction: column;
    }
}

.answer-button {
    font-size: 28px;
    padding: 20px;
    width: 100px;
    background: transparent;
    &:hover {
        transition: 0.5s;
        background-color: rgba(226, 240, 228, 0.6);
        cursor: pointer;
    }

    @media (max-width: $mobile) {
        font-size: 22px;
        padding: 15px;
    }
}

.yes-button {
    color: green;
    border: 2px green solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 0;

    @media (max-width: $mobile) {
        background-position: 40px 37px;
    }
}

.no-button {
    color: red;
    border: 2px red solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    @media (max-width: $mobile) {
        background-position: 40px 37px;
    }
}
