.wrapper {
    display: flex;
    justify-content: center;

    .sprint-container {
        position: relative;
        max-width: 1440px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-right: 60px;
    }
}

.game-buttons {
    position: absolute;
    right: 60px;
    width: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-span-container {
    position: relative;
    width: 28px;
    height: 28px;
    left: -3px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &:hover {
        .close-span {
            filter: opacity(100%);
        }
    }

    .close-span {
        position:absolute;
        top:12px;
        width: 100%;
        height: 1px;
        background-color: black;
        font-size: large;
        content: '';
        filter: opacity(25%);
        border-radius: 10px;
    }

    .first-span {
        transform: rotate(45deg);
    }
    
    .second-span {
        transform: rotate(-45deg);
    }
}
.fullscreen-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        .fullscreen-svg {
           filter: opacity(100%);
           cursor: pointer;
        }
    }

    .fullscreen-svg {
        padding: 10px;
        width: 24px;
        height: 24px;
        background-image: url('../../../../assets/icons/fullscreen.svg');
        border: 0;
        filter: opacity(25%);
        box-sizing: border-box;
    }
}

.sound-container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;

    &:hover {
        .sound-svg{
            filter: opacity(100%);
            cursor: pointer;
        }
    }

    .sound-svg {
        width: 24px;
        height: 24px;
        background-image: url('../../../../assets/icons/sound-icon.svg');
        background-size: contain;
        padding: 14px;
        filter: opacity(25%);
        box-sizing: border-box;
    }
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.text-center {
    text-align: center;
}

.level-container {
    display: flex;
    gap: 15px;
}

.level-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px blue solid;
    border-radius: 100%;
    color: blue;

    &:hover {
        transition: 0.5s;
        transform: scale(1.1);
        cursor: pointer;
    }
}

.active-level-button {
    background-color: blue;
    transform: scale(1.1);
    color: whitesmoke;
}

.lower-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;

    .start-button {
        width: 100px;
        background-color: transparent;
        border-radius: 20px;
        font-size: 20px;
        filter: opacity(25%);
    }   

    .active {
        filter: opacity(100%);
        cursor: default;
        &:hover {
            cursor: pointer;
        }
    }
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 50px;
    height: 50px;
    background-image: url('../../../../assets/icons/clock-time.svg');
}

.clock-counter {
    font-size: 24px;
}
.points-container,
.multiply-container,
.result-container {
    display: flex;
    gap: 10px;
}

.multiply-container {
    border: 3px rgb(237, 186, 35) solid;
    border-radius: 30px;
    padding: 0 10px;
}

.result-container {
    border: 3px rgb(30, 184, 19) solid;
    border-radius: 30px;
    padding: 0 10px;
}

.tick {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 30px;
    background-image: url('../../../../assets/icons/tick-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;

    .answers-queue {
        font-size: 18px;
        position: absolute;
        right: -15px;
        top: -10px;
    }
}

.answer-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    .word {
        color: rgb(42, 157, 48);
        font-size: 32px;
    }
    
    .delimiter {
        font-size: 20px;
    }
}

.answer-button {
    font-size: 16px;
    padding: 10px;
    background: transparent;
    &:hover {
        transition: 0.5s;
        background-color: yellow;
        cursor: pointer;
    }
}

.true-button {
    color: green;
    border: 2px green solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 0;
}

.false-button {
    color: red;
    border: 2px red solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}