@import "../../../global.scss";

.statistics-container {
    padding: 23px 0 0;
    background: center / cover no-repeat url('../../../assets/img/background.jpg');
    color: $darkGray;


    .todays-statistics-container {
        margin: 40px auto 0;
        padding: 30px 10px;

        .todays-header {
            font-size: 32px;
            font-weight: 600;
            text-align: center;
            padding-bottom: 40px;
        }

        .statistic-container {
            display: flex;
            justify-content: center;
            gap: 70px;

            .big-stat-number {
                font-size: 60px;
                font-weight: 900;
                text-align: center;
                padding-bottom: 10px;

              @media (max-width: $mobile) {
                font-size: 50px;
              }

              @media (max-width: $mobileSmall) {
                font-size: 45px;
              }
            }

          @media (max-width: $mobile) {
            gap: 40px;
            font-size: 14px;
          }

          @media (max-width: $mobileSmall) {
            gap: 27px;
            font-size: 12px;
          }
        }
    }
}

.games-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;

    .game-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        background-color: aliceblue;
        border-radius: 30px;
        background-image: url('../../../assets/img/game-div-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 20px;


        .game-title {
            font-size: 24px;
            font-weight: 600;
        }

        .game-stats {
            display: flex;
            gap: 10px;
            max-width: 250px;

            .game-icon {
                width: 15px;
                height: 15px;
                background-repeat: no-repeat;
                background-size: contain;
                flex-shrink: 0;
            }
            .game-icon-1 {
                background-image: url('../../../assets/icons/complete-icon.svg');
            }

            .game-icon-2 {
                background-image: url('../../../assets/icons/check-mark-line-icon.svg');
            }

            .game-icon-3 {
                background-image: url('../../../assets/icons/double-tick-icon.svg');
            }
        }
    }
}

.alltime-container {


    .alltime-label {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        padding: 20px 0;

      @media (max-width: $mobileSmall) {
        font-size: 30px;
      }
    }

    .alltime-description {
        font-size: 14px;
        text-align: center;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .text {
    cursor: pointer;
    font-size: 18px;
    user-select: none;
  }

  .toggle-button {
    position: relative;

    width: 75px;
    height: 35px;
    margin: 0;
    vertical-align: top;
    background-image: url('../../../assets/img/game-div-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  .toggle-button::after {
    content: "";

    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #424551;
    border-radius: 50%;
    transform: translateX(-10px);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  .toggle-button:checked::after {
    transform: translateX(calc(45px));
    background-color: rgb(66, 69, 81);
  }

  .toggle-button:checked {
    background-image: url('../../../assets/img/game-div-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .graph-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
  
  .icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: absolute;
    width: 28px;
    height: 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 15;
    top: 31px;
    right: 23px;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 30%;
      background-color: $red;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    .menu-open & {
      transform: rotate(90deg);
    }
  }
}


.stat-description {
  text-align: center;
}
