$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

$mainFont: 'Lato', sans-serif;

$dark: #1E212C;
$darkGray: #424551;
$gray: #787A80;
$lightGray: #d4d4d6;
$red: #FF3F3A;
$almostWhite: #f0f0f0;

$color_A1: #f7cf6b;
$color_A2: #66B0F0;
$color_B1: #1d9fa3;
$color_B2: #f96d6d;
$color_C1: #2db862;
$color_C2: #b44c9a;

@mixin font-face($family, $size, $font-weight, $line-height, $text-align) {
    font-family: $family;
    font-size: $size;
    font-weight: $font-weight;
    line-height: $line-height;
    text-align: $text-align;
}

$color_A1: #f7cf6b;
$color_A2: #66B0F0;
$color_B1: #1d9fa3;
$color_B2: #f96d6d;
$color_C1: #2db862;
$color_C2: #b44c9a;
