$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

$mainFont: 'Lato', sans-serif;

$dark: #1E212C;
$darkGray: #424551;
$gray: #787A80;
$red: #FF3F3A;

@mixin font-face($family, $size, $font-weight, $line-height, $text-align) {
    font-family: $family;
    font-size: $size;
    font-weight: $font-weight;
    line-height: $line-height;
    text-align: $text-align;
}