.results-container {
    width: 320px;
    height: 500px;
    border-radius: 30px;
    background-color: rgb(226, 195, 127);
    overflow: hidden;
    box-sizing: border-box;

    .slider {
        display: flex;
        width: 640px;
        transition: 1s ease-in-out;

        .side {
            width: 320px;
            height: 350px;
            padding: 0 10px;
        }

        .right-side-container {
            overflow-y: auto;
        }
    }

    .move-left {
        transform: translateX(-320px);
    }
}

.tabs-container {
    display: flex;
    justify-content: center;
    gap: 10px;

    .tab {
        width: 200px;
        background: transparent;
        padding: 10px;
        border: 0;    

        &:hover {
            cursor: pointer;
        }
    }

    .active {
        border-bottom: #424551 3px solid;
    }
}

.percents-result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 40px;

    .bottom-button {
        padding: 7px;
        border: 0;
        border-radius: 20px;
        font-size: 18px;
        
        background-color: antiquewhite;

        &:hover {
            cursor: pointer;
        }
    }
}

.list-header-container {
    display: flex;
    align-items: center;
    gap: 10px;

    .list-header {
        font-size: 20px;
    }

    .counter-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

    .mistakes-container {
        background-color: rgb(241, 107, 107);
    }

    .know-container {
        background-color: rgb(127, 241, 107);
    }
}
.list-ul {
    padding: 0;
    margin: 0;

    .list-element {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    
        .sound-image {
            width: 20px;
            height: 20px;
            background-image: url('../../../assets/icons/sound-icon.svg');
            background-size: cover;
    
            &:hover {
                cursor: pointer;
            }
        }

        .word {
            margin: 0;
        }

        .eng-word-list {
            font-weight: 700;
        }
    }
}
